/Presenter/bin
/Presenter/obj
/SongEditor/obj
/SongEditor/bin
/Test/obj
/Test/bin
/Installer/bin
/PraiseBase Presenter.suo
/PraiseBase Presenter.sln.docstates.suo
/TestResults
/Presenter/Resources/Dist/Thumbs
/Installer/obj
/Core/bin
/Core/obj
/*.suo
/Presenter/PraiseBase Presenter.csproj.user
/Presenter/Resources/Dist/Backgrounds/\[Thumbnails\]
/Configuration/bin
/Configuration/obj
/Common Controls/obj
/Common Controls/bin
/PraiseBase Presenter.sln.DotSettings.user
/Presenter/PraiseBase Presenter.csproj.DotSettings.user
/.vs/PraiseBase Presenter/v14/*.suo
/Installer/Distribution/Backgrounds/\[Thumbnails\]
/Bundle/bin
/Bundle/obj
/.vs/PraiseBase-Presenter/v15
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/PraiseBase Presenter/v15/Server/sqlite3/storage.ide-wal
/.vs/PraiseBase Presenter/v15/Server/sqlite3/storage.ide-shm
/.vs/PraiseBase Presenter/v15/Server/sqlite3/storage.ide
/.vs/PraiseBase Presenter/v15/Server/sqlite3/db.lock
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/PraiseBase-Presenter/v15/.suo
/packages
