/Presenter/bin
/Presenter/obj
/SongEditor/obj
/SongEditor/bin
/Test/obj
/Test/bin
/Installer/bin
/PraiseBase Presenter.suo
/PraiseBase Presenter.sln.docstates.suo
/TestResults
/Presenter/Resources/Dist/Thumbs
/Installer/obj
/*.suo
