<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pbp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Bam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pbp.Properties.Settings>
            <setting name="dataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="projectionFont" serializeAs="String">
                <value>Calibri, 60pt, style=Bold</value>
            </setting>
            <setting name="projectionBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="projectionForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="projectionFontBorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="projectionFontScaling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="projectionPadding" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="languages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Deutsch</string>
                        <string>Englisch</string>
                        <string>Französisch</string>
                        <string>Italienisch</string>
                        <string>Schweizerdeutsch</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="tags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Lobpreis</string>
                        <string>Anbetung</string>
                        <string>Trost</string>
                        <string>Hingabe</string>
                        <string>Heiliger Geist</string>
                        <string>Segen</string>
                        <string>Dank</string>
                        <string>Bitte</string>
                        <string>Evangelisation</string>
                        <string>Vertrauen</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="songParts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Refrain</string>
                        <string>Strophe 1</string>
                        <string>Strophe 2</string>
                        <string>Strophe 3</string>
                        <string>Teil 1</string>
                        <string>Teil 2</string>
                        <string>Teil 3</string>
                        <string>Instrumentalteil</string>
                        <string>Bridge</string>
                        <string>Schluss</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Pbp.Properties.Settings>
        <Bam.Properties.Settings>
            <setting name="dataDirectory" serializeAs="String">
                <value>D:\Daten\Powerpraise-Dateien</value>
            </setting>
        </Bam.Properties.Settings>
    </userSettings>
</configuration>