<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pbp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Bam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pbp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pbp.Properties.Settings>
            <setting name="dataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="projectionMasterFont" serializeAs="String">
                <value>Calibri, 60pt, style=Bold</value>
            </setting>
            <setting name="projectionBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="projectionMasterFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="projectionOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="projectionFontScaling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="projectionPadding" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="languages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Deutsch</string>
                        <string>Englisch</string>
                        <string>Französisch</string>
                        <string>Italienisch</string>
                        <string>Schweizerdeutsch</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="tags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Lobpreis</string>
                        <string>Anbetung</string>
                        <string>Trost</string>
                        <string>Hingabe</string>
                        <string>Heiliger Geist</string>
                        <string>Segen</string>
                        <string>Dank</string>
                        <string>Bitte</string>
                        <string>Evangelisation</string>
                        <string>Vertrauen</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="songParts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Refrain</string>
                        <string>Strophe 1</string>
                        <string>Strophe 2</string>
                        <string>Strophe 3</string>
                        <string>Teil 1</string>
                        <string>Teil 2</string>
                        <string>Teil 3</string>
                        <string>Instrumentalteil</string>
                        <string>Bridge</string>
                        <string>Schluss</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="projectionMasterFontTranslation" serializeAs="String">
                <value>Calibri, 40pt, style=Bold</value>
            </setting>
            <setting name="projectionMasterLineSpacing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projectionMasterTranslationColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="settingsLastTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projectionShadowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="projectionOutlineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="projectionShadowSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projectionUseMaster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="viewerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="editorWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Pbp.Properties.Settings>
        <Bam.Properties.Settings>
            <setting name="dataDirectory" serializeAs="String">
                <value>D:\Daten\Powerpraise-Dateien</value>
            </setting>
        </Bam.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Pbp.Properties.Settings>
            <setting name="songDir" serializeAs="String">
                <value>songs</value>
            </setting>
            <setting name="imageDir" serializeAs="String">
                <value>backgrounds</value>
            </setting>
            <setting name="dataDirDefaultName" serializeAs="String">
                <value>PraiseBase Presenter</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>0.8.10.24 BETA</value>
            </setting>
            <setting name="weburl" serializeAs="String">
                <value>http://code.google.com/p/praisebasepresenter</value>
            </setting>
        </Pbp.Properties.Settings>
    </applicationSettings>
</configuration>