<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pbp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Bam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pbp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pbp.Properties.Settings>
            <setting name="DataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectionMasterFont" serializeAs="String">
                <value>Calibri, 60pt, style=Bold</value>
            </setting>
            <setting name="ProjectionBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectionMasterFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ProjectionOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectionFontScaling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectionPadding" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Languages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Deutsch</string>
                        <string>Englisch</string>
                        <string>Französisch</string>
                        <string>Italienisch</string>
                        <string>Schweizerdeutsch</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Tags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Lobpreis</string>
                        <string>Anbetung</string>
                        <string>Trost</string>
                        <string>Hingabe</string>
                        <string>Heiliger Geist</string>
                        <string>Segen</string>
                        <string>Dank</string>
                        <string>Bitte</string>
                        <string>Evangelisation</string>
                        <string>Vertrauen</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SongParts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Refrain</string>
                        <string>Pre-Chorus</string>
                        <string>Chorus</string>
                        <string>Strophe 1</string>
                        <string>Strophe 2</string>
                        <string>Strophe 3</string>
                        <string>Teil 1</string>
                        <string>Teil 2</string>
                        <string>Teil 3</string>
                        <string>Instrumental</string>
                        <string>Bridge</string>
                        <string>Schluss</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProjectionMasterFontTranslation" serializeAs="String">
                <value>Calibri, 39.75pt, style=Italic</value>
            </setting>
            <setting name="ProjectionMasterLineSpacing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectionMasterTranslationColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SettingsLastTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectionShadowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectionOutlineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProjectionShadowSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ProjectionUseMaster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="EditorWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ProjectionFadeTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ThumbSize" serializeAs="String">
                <value>90, 60</value>
            </setting>
            <setting name="ShowLoadingScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LinkLayers" serializeAs="String">
                <value>True</value>
            </setting>
        </Pbp.Properties.Settings>
        <Bam.Properties.Settings>
            <setting name="dataDirectory" serializeAs="String">
                <value>D:\Daten\Powerpraise-Dateien</value>
            </setting>
        </Bam.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Pbp.Properties.Settings>
            <setting name="SongDir" serializeAs="String">
                <value>Songs</value>
            </setting>
            <setting name="ImageDir" serializeAs="String">
                <value>Backgrounds</value>
            </setting>
            <setting name="DataDirDefaultName" serializeAs="String">
                <value>PraiseBase Presenter</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.10.4.12</value>
            </setting>
            <setting name="Weburl" serializeAs="String">
                <value>http://code.google.com/p/praisebasepresenter</value>
            </setting>
            <setting name="SetListDir" serializeAs="String">
                <value>Setlists</value>
            </setting>
            <setting name="BugReportUrl" serializeAs="String">
                <value>http://code.google.com/p/praisebasepresenter/issues/entry?template=Defect%20report%20from%20user</value>
            </setting>
            <setting name="ThumbDir" serializeAs="String">
                <value>Thumbs</value>
            </setting>
        </Pbp.Properties.Settings>
    </applicationSettings>
</configuration>