<?xml version="1.0" encoding="UTF-8"?>
<?define UpgradeId="42A8F680-7229-4303-8772-04605BB741C7"?>
<!-- Preprocessor variables (fileVersion requires WixFileVersionExtension -->
<?define ProductName="$(fileVersion.ProductName($(var.PraiseBase_Presenter.TargetPath)))" ?>
<?define CompanyName="$(fileVersion.CompanyName($(var.PraiseBase_Presenter.TargetPath)))" ?>
<?define ProductVersion="$(fileVersion.ProductVersion($(var.PraiseBase_Presenter.TargetPath)))" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*"
           Name="$(var.ProductName) $(var.ProductVersion)"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.CompanyName)"
           Language="1031" 
           UpgradeCode="$(var.UpgradeId)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="$(var.UpgradeId)">
      <UpgradeVersion
         Minimum="0.0.0.0" Maximum="$(var.ProductVersion)"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <!-- Set icon -->
    <Icon Id="icon.ico" SourceFile="$(var.PraiseBase_Presenter.ProjectDir)Resources\Computer.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <!-- GUI (requires WixUIExtension) -->
    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)License.rtf" />
    <!-- Source: http://www.flickr.com/photos/malcorp/3703556108/ -->
    <WixVariable Id="WixUIDialogBmp" Value="Resources\Background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.bmp" />

    <PropertyRef Id="NETFRAMEWORK35"/>
    <PropertyRef Id="NETFRAMEWORK35_SP_LEVEL"/>

    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>
    <Condition Message="This application requires .NET Framework 3.5 SP1. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")]]>
    </Condition>

    <!-- Target directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <!-- Program files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.PraiseBase_Presenter.ProjectName)">
          <Component Id="ProductComponent" Guid="973a7a66-c64c-42c4-9bb0-19ed07c65f57">
            <File Id="MainProgramFile" 
                  Name="$(var.PraiseBase_Presenter.TargetFileName)" 
                  Source="$(var.PraiseBase_Presenter.TargetPath)"
                  KeyPath="yes" />
          </Component>
          <Component Id="CoreDll" Guid="3b5d1582-c2b3-11e4-9bf5-d2ea1d5d46b0">
            <File Id="CoreDllFile"
                Name="$(var.Core_Libraries.TargetFileName)"
                Source="$(var.Core_Libraries.TargetPath)"
                KeyPath="yes" />
          </Component>
          <Component Id="Log4netDll" Guid="197749fc-7429-4279-824d-44f917270e89">
            <File Id="Log4netDllFile"
                Name="log4net.dll"
                Source="$(var.SolutionDir)lib\log4net.dll"
                KeyPath="yes" />
          </Component>
          <Component Id="MoreLinqDll" Guid="95f4abf0-94b9-4b96-bc03-84274447a4b3">
            <File Id="MoreLinqDllFile"
                Name="MoreLinq.dll"
                Source="$(var.PraiseBase_Presenter.TargetDir)\MoreLinq.dll"
                KeyPath="yes" />
          </Component>
          <Component Id="LicenseRtf" Guid="96dc79f8-2344-4610-a167-9b09ee501509">
            <File Id="License.rtf" 
                  Source="$(var.SolutionDir)License.rtf" 
                  KeyPath="yes"/>
          </Component>
          <Component Id="LicenseTxt" Guid="626b9fa0-0c14-4d4d-804a-911a454e76d7">
            <File Id="License.txt"
                  Source="$(var.SolutionDir)License.txt"
                  KeyPath="yes"/>
          </Component>
          <Directory Id="LanguagePackFolderEnUS" Name="en-US">
            <Component Id="LanguagePackEnUS" Guid="a8e5ffcb-0080-487d-91b4-dae27925f475">
              <File Id="PraiseBasePresenter.resources.dll"
                    Source="$(var.PraiseBase_Presenter.TargetDir)en-US\PraiseBase Presenter.resources.dll"
                    KeyPath="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <!-- Personal folder -->
      <Directory Id="PersonalFolder">
        <Directory Id="DataFolder" Name="$(var.PraiseBase_Presenter.ProjectName)">
          <Component Id="DataFolder" Guid="184dc8b6-43d3-46fa-854f-5c3c6abe209e">
            <CreateFolder />
            <RemoveFolder Id='DataFolder' On='uninstall'/>
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <!-- Start menu -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Component Id="ApplicationStartMenuShortcut" Guid="A07A731E-7E98-44CE-B049-C477CC0A2B00">
          <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="$(var.PraiseBase_Presenter.ProjectName)"
                    Target="[INSTALLLOCATION]$(var.PraiseBase_Presenter.TargetFileName)"
                    WorkingDirectory="INSTALLLOCATION"/>            
          <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        </Component>
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut" Guid="d690bbf6-896d-44cb-86d0-9f42ece563cb">
          <Shortcut Id="DesktopShortcut"
                    Name="$(var.PraiseBase_Presenter.ProjectName)"
                    Target="[INSTALLLOCATION]$(var.PraiseBase_Presenter.TargetFileName)"
                    WorkingDirectory="INSTALLLOCATION"/>
          <RemoveFolder Id='DesktopShortcut' On='uninstall' />
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        </Component>
      </Directory>
      
    </Directory>

    <!-- Data directory contents (Samples) -->
    <DirectoryRef Id='DataFolder'>
      <Directory Id="BackgroundsFolder" Name="Backgrounds">
        <Component Id="BackgroundsFolder" Guid="dad73b0d-d467-4cda-b9dc-7cb6768d0cc3" Permanent="yes">
          <CreateFolder/>
          <RemoveFolder Id='BackgroundsFolder' On='uninstall'/>
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        </Component>
      </Directory>
      <Directory Id="SongsFolder" Name="Songs">
        <Component Id="SongsFolder" Guid="67d7d24a-a6bc-49ae-b976-d1b891bc0d30" Permanent="yes">
          <CreateFolder />
          <RemoveFolder Id='SongsFolder' On='uninstall'/>
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          <File Id="A_Mighty_Fortress_Is_Our_God.ppl"
                Name="A Mighty Fortress Is Our God.ppl"
                Source="Distribution\Songs\A Mighty Fortress Is Our God.ppl" />
          <File Id="Allein_Gott_in_der_Hoeh_ppl"
                Name="Allein Gott in der Hoeh.ppl"
                Source="Distribution\Songs\Allein Gott in der Hoeh.ppl" />
          <File Id="You_are_so_faithful_ppl"
                Name="You are so faithful.ppl"
                Source="Distribution\Songs\You are so faithful.ppl" />
          <File Id="Naeher_mein_Gott_zu_Dir_ppl"
                Name="Näher, mein Gott zu Dir.ppl"
                Source="Distribution\Songs\Näher, mein Gott zu Dir.ppl" />
        </Component>
      </Directory>
      <Directory Id="BiblesFolder" Name="Bibles">
        <Component Id="BiblesFolder" Guid="5a922d36-2237-420c-b458-0ddad6044e88" Permanent="yes">
          <CreateFolder />
          <RemoveFolder Id='BiblesFolder' On='uninstall'/>
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          <File Id="Elberfelder_1905.xml"
                Name="Elberfelder_1905.xml"
                Source="Distribution\Bibles\Elberfelder_1905.xml" />
          <File Id="kjv.xml"
                Name="kjv.xml"
                Source="Distribution\Bibles\kjv.xml" />
          <File Id="sf_luther_1545_letzte_hand_rev1.xml"
                Name="sf_luther_1545_letzte_hand_rev1.xml"
                Source="Distribution\Bibles\sf_luther_1545_letzte_hand_rev1.xml" />
          <File Id="luther1912.xml"
                Name="luther1912.xml"
                Source="Distribution\Bibles\luther1912.xml" />
        </Component>
      </Directory>
      <Directory Id="SetlistsFolder" Name="Setlists">
        <Component Id="SetlistsFolder" Guid="8ae9f663-8f93-4b44-b8d2-a889dc92982e" Permanent="yes">
          <CreateFolder />
          <RemoveFolder Id='SetlistsFolder' On='uninstall'/>
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>

    <!-- Sample Backgrounds -->
    <DirectoryRef Id="BackgroundsFolder">
      <Directory Id="BackgroundSamplesFolder" Name="Sample">
        <Component Id="BackgroundSamplesFolder" Guid="c0f93bb4-48d9-4952-8acb-aeaa8e1e66d3" Permanent="yes">
          <CreateFolder />
          <RemoveFolder Id='BackgroundSamplesFolder' On='uninstall'/>
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          <File Id="Berge.jpg"
                Name="Berge.jpg"
                Source="Distribution\Backgrounds\Sample\Berge.jpg" />
          <File Id="Blume.jpg"
                Name="Blume.jpg"
                Source="Distribution\Backgrounds\Sample\Blume.jpg" />
          <File Id="Feuer.jpg"
                Name="Feuer.jpg"
                Source="Distribution\Backgrounds\Sample\Feuer.jpg" />
          <File Id="Landschaft.jpg"
                Name="Landschaft.jpg"
                Source="Distribution\Backgrounds\Sample\Landschaft.jpg" />
          <File Id="Meer.jpg"
                Name="Meer.jpg"
                Source="Distribution\Backgrounds\Sample\Meer.jpg" />
          <File Id="Menschen.jpg"
                Name="Menschen.jpg"
                Source="Distribution\Backgrounds\Sample\Menschen.jpg" />
          <File Id="night_sky_1024.jpg"
                Name="night_sky_1024.jpg"
                Source="Distribution\Backgrounds\Sample\night_sky_1024.jpg" />
          <File Id="Sonne.jpg"
                Name="Sonne.jpg"
                Source="Distribution\Backgrounds\Sample\Sonne.jpg" />
          <File Id="Wald.jpg"
                Name="Wald.jpg"
                Source="Distribution\Backgrounds\Sample\Wald.jpg" />
          <File Id="Wasser.jpg"
                Name="Wasser.jpg"
                Source="Distribution\Backgrounds\Sample\Wasser.jpg" />
          <File Id="Wolken.jpg"
                Name="Wolken.jpg"
                Source="Distribution\Backgrounds\Sample\Wolken.jpg" />
          <File Id="Wueste.jpg"
                Name="Wüste.jpg"
                Source="Distribution\Backgrounds\Sample\Wüste.jpg" />
        </Component>
      </Directory>
    </DirectoryRef>
  
    <!-- Features -->
    <Feature Id="ProductFeature" Title="$(var.PraiseBase_Presenter.ProjectName)" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="CoreDll" />
      <ComponentRef Id="Log4netDll"/>
      <ComponentRef Id="MoreLinqDll"/>
      <ComponentRef Id="LicenseRtf" />
      <ComponentRef Id="LicenseTxt" />
      <ComponentRef Id="ApplicationStartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="DataFolder" />
      <ComponentRef Id="BackgroundsFolder" />
      <ComponentRef Id="BackgroundSamplesFolder" />
      <ComponentRef Id="SongsFolder" />
      <ComponentRef Id="SetlistsFolder" />
      <ComponentRef Id="BiblesFolder" />
      <ComponentRef Id="LanguagePackEnUS"/>
    </Feature>
  </Product>
</Wix>
